mixin summaryTable4Col(players, headers, index)
  .summaryTable
    .tblHeaders.row
      each header in headers
        p.inline.col-xs-2= header
      if index == 'Player'
        p.inline.col-xs-4 Edit Player
      else if index == 'Game'
        p.inline.col-xs-4 Edit Game
      else if index == 'Rule'
        p.inline.col-xs-4 Edit Rule
    each detail in players.details
      .tblContent.row
        if index == 'Player'
          p.inline.col-xs-2= detail.name
          p.inline.col-xs-2= detail.fantasy
          p.inline.col-xs-2= detail.goals
          p.inline.col-xs-2= detail.assists
          a.col-xs-4(href='/edit/#{detail.id}') Edit
        else if index == 'Game'
          p.inline.col-xs-2= detail.opposition
          p.inline.col-xs-2= detail.score
          p.inline.col-xs-2= detail.date
          p.inline.col-xs-2= detail.MOTM
          a.col-xs-4(href='/edit/#{detail.id}') Edit
        else if index == 'Rule'
          p.inline.col-xs-2= detail.rule
          p.inline.col-xs-2= detail.points
          p.inline.col-xs-2= detail.position
          p.inline.col-xs-2= detail.custom
          a.col-xs-4(href='/edit/#{detail.id}') Edit
        


mixin summaryTable3Col(object)
  .summaryTable
    .tblHeaders.row
      p.inline.col-xs-4= object.headers.col1
      p.inline.col-xs-3= object.headers.col2
      p.inline.col-xs-3= object.headers.col3
    each val in object.values
      .tblValues.row
        p.inline.col-xs-4= val.col1
        p.inline.col-xs-3= val.col2
        p.inline.col-xs-3= val.col3
        a.col-xs-2(href='/edit/#{val.id}') Edit

mixin summaryTable2Col(players, headers, index)
  .summaryTable
    .tblHeaders.row
    each header in headers
      p.inline.col-xs-5= header
    .tblContent.row
    each detail in players.details
      p.inline.col-xs-5= detail.name
      if index == 'fantasy'
        p.inline.col-xs-5= detail.fantasy
      else if index == 'goals'
        p.inline.col-xs-5= detail.goals
      else if index == 'assists'
        p.inline.col-xs-5= detail.assists

mixin playerStatsTable(player)
  .statsTable
    .tblHeaders.row
    each stat in player.stats
      p.inline.col-xs-5= stat.name
    each stat in player.stats
      p.inline.col-xs-5= stat.val

mixin playerStatsList(player)
  .statsList
    .tblHeaders.row
    each stat in player.stats
      .statContainer
        p.inline.col-xs-5= stat.name
        p.inline.col-xs-5= stat.val
        