mixin summaryTable4Col(players, headers, index)
  .summaryTable
    .tblHeaders.row
      each header in headers
        p.inline.col-xs-2= header
      if index == 'Player'
        p.inline.col-xs-4 Edit Player
      else if index == 'Game'
        p.inline.col-xs-4 Edit Game
      else if index == 'Rule'
        p.inline.col-xs-4 Edit Rule
    if index == 'Player'
      each player in players
        .tblContent.row
            p.inline.col-xs-2= player.details.name
            p.inline.col-xs-2= player.points.total
            p.inline.col-xs-2= player.stats.goals
            p.inline.col-xs-2= player.stats.assists
            a.col-xs-4(href='/edit/#{player.id}') Edit
    else if index == 'Game'
      each game in games
        .tblContent.row
          p.inline.col-xs-2= game.opposition
          p.inline.col-xs-2= game.score
          p.inline.col-xs-2= game.date
          p.inline.col-xs-2= game.MOTM
          a.col-xs-4(href='/edit/#{game.id}') Edit
    else if index == 'Rule'
      each rule in rules
        .tblContent.row
          p.inline.col-xs-2= rule.rule
          p.inline.col-xs-2= rule.points
          p.inline.col-xs-2= rule.position
          p.inline.col-xs-2= rule.custom
          a.col-xs-4(href='/edit/#{rule.id}') Edit
        


mixin summaryTable3Col(object)
  .summaryTable
    .tblHeaders.row
      p.inline.col-xs-4= object.headers.col1
      p.inline.col-xs-3= object.headers.col2
      p.inline.col-xs-3= object.headers.col3
    each val in object.values
      .tblValues.row
        p.inline.col-xs-4= val.col1
        p.inline.col-xs-3= val.col2
        p.inline.col-xs-3= val.col3
        a.col-xs-2(href='/edit/#{val.id}') Edit

mixin summaryTable2Col(players, headers, index)
  .summaryTable
    .tblHeaders.row
    each header in headers
      p.inline.col-xs-5= header
    .tblContent.row
    each player in players
      p.inline.col-xs-5= player.details.name
      if index == 'fantasy'
        p.inline.col-xs-5= player.points.total
      else if index == 'goals'
        p.inline.col-xs-5= player.stats.goals
      else if index == 'assists'
        p.inline.col-xs-5= player.stats.assists

mixin playerStatsTable(player)
  .statsTable
    .tblHeaders.row
    each stat in player.stats
      p.inline.col-xs-5= stat.name
    each stat in player.stats
      p.inline.col-xs-5= stat.val

mixin playerStatsList(player)
  .statsList
    .tblHeaders.row
    each stat in player.stats
      .statContainer
        p.inline.col-xs-5= stat.name
        p.inline.col-xs-5= stat.val
        